<div class="loggedin-container">
    <h2>Welcome, {{first_name}}!</h2>
    <p>You have successfully logged in with your account.</p>

    <div class="user-actions">
        <a href=" /api/v1/user/logout" class="logout-btn">Logout</a>
    </div>
</div>